@model IEnumerable<AspNetCoreAppRolesFineGrainedApi.WebApp.Models.Branch>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegionalManagerAADGroupId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalespersonAADGroupId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegionalManagerAADGroupId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalespersonAADGroupId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BranchID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BranchID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BranchID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
